<footer class="bottom-bar fixed-bottom bg-dark">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <div class="featured-image mb-1 mt-2">
            <a href="https://github.com/Projeto-PI-Capao-Redondo/pi_2" target="_blank">
                <img src="static/assets/github.png" alt="" class="img-fluid" style="width: 24px;">
            </a> 
        </div>
        <small class="text-light text-center text-wrap mt-1">&copy; {{ now.year }} - Todos os direitos reservados</small>
    </div>
</footer>
