{% extends "base.html" %}

{% block content %}

<body id="checkout-page">

    <div id="order-form-container" class="container p-6 my-md-4 px-md-0">
        <div id="form-header">
            <h1>Cadastro da loja</h1>
            <br>

            <form id="store-form" action="/cadastrar_loja" method="post">
                <h4>Nome do Estabelecimento</h4>
                <div class="row mb-3">
                    <div class="form-floating">
                        <input
                            type="text"
                            class="form-control shadow-none"
                            id="nome_loja"
                            name="nome_loja"
                            placeholder="Digite o nome da Loja"
                            maxlength="40"
                            required
                        />
                        <label for="nome_loja">Nome da Loja</label>
                    </div>
                </div>

                <h4>Cadastre o endereço da Loja - Busca pelo CEP</h4>
                <div class="row mb-3 align-items-end"> 
                    <div class="col">
                        <div class="form-floating">
                            <input
                                type="text"
                                class="form-control shadow-none"
                                id="cep"
                                name="cep"
                                placeholder="Digite o CEP para visitação"
                                maxlength="8"
                                minlength="8"
                                required
                            />
                            <label for="cep">CEP</label>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-12 col-sm-6 mb-3 mb-md-0 form-floating">
                        <input
                            type="text"
                            class="form-control shadow-none"
                            id="rua"
                            name="rua"
                            placeholder="rua"
                            required
                        />
                        <label for="rua">Rua</label>
                    </div>
                    <div class="col-12 col-sm-6 form-floating">
                        <input
                            type="number"
                            class="form-control shadow-none"
                            id="numero"
                            name="numero"
                            placeholder="Digite o número"
                            required
                        />
                        <label for="numero">Digite o número</label>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-12 col-sm-6 mb-3 mb-md-0 form-floating">
                        <input
                            type="text"
                            class="form-control shadow-none"
                            id="complemento"
                            name="complemento"
                            placeholder="Digite o complemento"
                            required
                        />
                        <label for="complemento">Digite o complemento</label>
                    </div>
                    <div class="col-12 col-sm-6 form-floating">
                        <input
                            type="text"
                            class="form-control shadow-none"
                            id="bairro"
                            name="bairro"
                            placeholder="Bairro"
                            required
                        />
                        <label for="bairro">Bairro</label>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-12 form-floating">
                        <textarea
                            class="form-control shadow-none"
                            id="observacao"
                            name="observacao"
                            placeholder="Digite sua observação aqui"
                            style="height: 100px;"
                            required
                        ></textarea>
                        <label for="observacao">Observação</label>
                    </div>
                </div>
                
                <div class="row mb-3">
                    <div class="col-12 form-floating">
                        <input
                            type="text"
                            class="form-control shadow-none"
                            id="horario_funcionamento"
                            name="horario_funcionamento"
                            placeholder="Horário de Funcionamento"
                            required
                        />
                        <label for="horario_funcionamento">Horário de Funcionamento</label>
                    </div>
                </div>


                <div class="d-flex justify-content-end">
                    <form onsubmit="return confirm('Cadastro Realizado com sucesso')">
                        <button type="submit" class="btn btn-danger">Cadastrar</button>
                    </form>
                </div>
            </form>
        </div>
    </div>
</body>

{% block scripts %}
<script>
// Get address from API
const getAddress = async (cep) => {
    const apiUrl = `https://viacep.com.br/ws/${cep}/json/`;

    const response = await fetch(apiUrl);

    const data = await response.json();

    // Show error and reset form
    if (data.erro === true) {
        alert("CEP Inválido, tente novamente.");
        return;
    }

    // Update address fields
    document.getElementById('rua').value = data.logradouro;
    document.getElementById('bairro').value = data.bairro;
    document.getElementById('complemento').value = data.complemento;
};

// Adicionado evento input para chamar a função getAddress quando o usuário digitar algo no campo CEP
document.getElementById('cep').addEventListener('input', (event) => {
    const cep = event.target.value;
    if (cep.length === 8) {
        getAddress(cep);
    }
});

const saveButton = document.querySelector("#save-btn");

saveButton.addEventListener("click", () => {
    const formData = new FormData(document.querySelector("#store-form"));

    const data = {};
    formData.forEach((value, key) => {
        data[key] = value;
    });

    fetch("/cadastrar_loja", {
        method: "POST",
        body: JSON.stringify(data),
        headers: {
            "Content-Type": "application/json",
        },
    })
    .then((response) => response.json())
    .then((data) => {
        console.log("Sucesso:", data);
    })
    .catch((error) => {
        console.error("Erro:", error);
    });
});

</script>
{% endblock %}
{% endblock %}
