{% extends "base.html" %}

{% block content %}
<div class="container-fluid p-0">
    <div class="row m-0">
      <div class="col-md-12 p-0">
        <div class="jumbotron jumbotron-fluid bg-dark text-light mb-0">
          <div class="container">
            <h1 class="display-3">Projeto Integrador II</h1>
            <p class="lead">Este projeto tem como objetivo o aprendizado de APIs e desenvolvimento de um CRUD.</p>
          </div>
        </div>
        <div class="container mt-5">
          <div class="row">
            <div class="col-md-6">
              <h2 class="text-dark">Sobre o Projeto</h2>
              <p class="text-muted">O projeto foi desenvolvido pelos integrantes do UNICEU - Projeto Integrador em Computação II - Turma 003 que fizeram esse trabalho
                com o intuito de aprender a desenvolver um CRUD e a utilizar APIs
                para aprimorar o conhecimento em programação.
              </p>
            </div>
            <div class="col-md-6">
              <h3 class="text-dark">Ferramentas:</h3>
              <ul class="text-muted">
                <li>Python</li>
                <li>FastAPI</li>
                <li>Bootstrap</li>
                <li>PostgreSQL</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}