{% extends "base.html" %}

{% block content %}
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-12">
        <h2>Roteiro</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="lojas">Lojas</label>
          <select class="form-control" id="lojas">
            <option value="">Selecione uma loja</option>
            {% for loja in lojas %}
            <option value="{{ loja.nome_loja }}">{{ loja.nome_loja }}</option>
            {% endfor %}
          </select>         
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
              <label for="horario_inicio">Horário de Início</label>
              <input type="time" class="form-control" id="horario_inicio">
            </div>
          </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="horario_fim">Horário de Fim</label>
          <input type="time" class="form-control" id="horario_fim">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-primary" onclick="addItem()">Adicionar</button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Loja</th>
              <th scope="col">Horário de Início</th>
              <th scope="col">Horário de Fim</th>
            </tr>
          </thead>
          <tbody id="lista">
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <button type="button" class="btn btn-primary" onclick="salvarHTML()" id="btn_salvar_html">Salvar HTML</button>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.13/jspdf.plugin.autotable.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
      var lista = [];  // array para armazenar os itens da lista

      // função para adicionar um item na lista
      function addItem() {
        var loja = $('#lojas option:selected').text();
        var horario_inicio = $('#horario_inicio').val();
        var horario_fim = $('#horario_fim').val();

        // verifica se todos os campos foram preenchidos
        if (loja != '' && horario_inicio != '' && horario_fim != '') {
          var item = [loja, horario_inicio, horario_fim];
          lista.push(item);
          atualizarLista();
        } else {
          alert('Preencha todos os campos!');
        }
      }

      // função para atualizar a lista na página
      function atualizarLista() {
        var html = '';
        for (var i = 0; i < lista.length; i++) {
          html += '<tr>';
          html += '<td>' + lista[i][0] + '</td>';
          html += '<td>' + lista[i][1] + '</td>';
          html += '<td>' + lista[i][2] + '</td>';
          html += '</tr>';
        }
        $('#lista').html(html);
      }

      // evento de clique do botão para adicionar um item
      $('#adicionar').click(function() {
        addItem();
      });

      // evento de pressionar a tecla Enter nos campos de input
      $('#lojas, #horario_inicio, #horario_fim').keypress(function(e) {
        if (e.which == 13) {
          addItem();
        }
      });

      function salvarHTML() {
    const conteudo = `
        <div id="order-form-container" class="container p-6 my-md-4 px-md-0">
            <h1>Roteiro de Lojas</h1>
            <br>
            <table>
                <thead>
                    <tr>
                        <th>Loja</th>
                        <th>Horário de Início</th>
                        <th>Horário de Fim</th>
                    </tr>
                </thead>
                <tbody>
                    ${lista.map(item => `
                        <tr>
                            <td>${item[0]}</td>
                            <td>${item[1]}</td>
                            <td>${item[2]}</td>
                        </tr>
                    `).join('')}
                </tbody>
            </table>
        </div>
    `;

    let estilo = "<style>";
    estilo += "table {width: 100%;font: 25px Calibri;}";
    estilo += "table, th, td {border: solid 2px #888; border-collapse: collapse;";
    estilo += "padding: 4px 8px;text-align: center;}";
    estilo += "</style>";

    const win = window.open('', '', 'height=700,width=700');

    win.document.write('<html><head>');
    win.document.write('<title>ROTEIRO</title>');
    win.document.write(estilo);
    win.document.write('</head><body>');
    win.document.write(conteudo);
    win.document.write('</body></html>');

    win.print();
}

  </script>
{% endblock %}